{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Index</title>
{% endblock %}

{% block content %}

    <h1 class="h1 my-5">Report Page</h1>

    <div class="row">
        <div class="container my-4">
            <a href="{% url 'core:reportlab_render' %}" class="btn btn-primary">PDF render - Reportlab</a>
            <a href="{% url 'core:reportlab_download' %}" class="btn btn-success">PDF Download - Reportlab</a>
        </div>
    </div>
    <div class="row">
        <div class="container my-4">
            <a href="{% url 'core:weasyprint_render' %}" class="btn btn-primary">PDF render - Weasyprint</a>
            <a href="{% url 'core:weasyprint_download' %}" class="btn btn-success">PDF Download - Weasyprint</a>
        </div>
    </div>

{% endblock %}